/* ---------------------------------RESET-------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
ul,
ol {
  padding: 0;
  list-style: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------------------GENERAL------------------------------- */

body {
    background-color: rgba(225, 239, 236, 1);
    border: 15px solid white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
}
h1 {
    font-size: 2.4rem;
    font-weight: 400;
}
h2 {
    font-size: 4.8rem;
    font-weight: 900;
}
h3 {
    font-size: 2.4rem;
    font-weight: 500;
    margin: 2.8rem 0rem;
}
img {
    border-radius: 50%;
    margin-bottom: 3rem;
}
.container {
    display: flex;
    padding: 5rem;
}

/* ------------------------COL LEFT------------------------ */

.col-left {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 45%;
    padding: 0rem 8rem;
}
.head {
    padding: 4rem 0rem;
}
.profilepic{
    display: flex;
}
.profilepic-child {
    text-align: center;
}
.icon-map-chile {
    display: flex;
    justify-content: center;
}
.quote {
    font-style: italic;
    font-weight: 500;
    padding-top: 3rem;
}

/* ------------------------------COL RIGHT ---------------------- */

.col-right {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 55%;
    padding: 0rem 8rem;
}
.img-studies-parent {
    display: flex;
}
.img-studies-child {
    display: flex;
    text-align: center;
}
.img-col-left {
    max-width: 50%;
    padding: 0rem 6rem;
}
.img-col-right {
    max-width: 50%;
    margin: 0rem 3rem;
}
.hobbies-parent {
    display: flex;
    justify-content: space-between;
}

/* --------------------------CLOUD ANIMATION ------------------------- */

.animation div{
    position: absolute;
}
.animation div:nth-child(1) {
    bottom: 0%;
    right: 95%;
    animation: animate 10s linear infinite;
}
.animation div:nth-child(2) {
    bottom: 0%;
    right: 50%;
    animation: animate 6s linear infinite;
}
.animation div:nth-child(3) {
    bottom: 0%;
    right: 25%;
    animation: animate 12s linear infinite;
}
.animation div:nth-child(4) {
    bottom: 0%;
    right: 74%;
    animation: animate 8s linear infinite;
}
.animation div:nth-child(5) {
    bottom: 0%;
    right: 32%;
    animation: animate 10s linear infinite;
}
.animation div:nth-child(6) {
    bottom: 0%;
    right: 44%;
    animation: animate 7s linear infinite;
}
.animation div:nth-child(7) {
    bottom: 0%;
    right: 84%;
    animation: animate 9s linear infinite;
}
.animation div:nth-child(8) {
    bottom: 0%;
    right: 15%;
    animation: animate 7s linear infinite;
}
.animation div:nth-child(9) {
    bottom: 0%;
    right: 63%;
    animation: animate 5s linear infinite;
}
.animation div:nth-child(10) {
    bottom: 0%;
    right: 3%;
    animation: animate 10s linear infinite;
}
@keyframes animate {
    from {bottom: 0px;}
    to {bottom: 100%;}
}
