/* ---------------------------------RESET-------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
ul,
ol {
  padding: 0;
  list-style: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------------------GENERAL------------------------------- */

body {
    background-color: rgba(225, 239, 236, 1);
    border: 15px solid white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
}
h1 {
    width: 150px;
    font-size: 2.2rem;
    font-weight: 400;
}
h2 {
    width: 235px;
    font-size: 4.4rem;
    font-weight: 900;
}
h3 {
    font-size: 2.2rem;
    font-weight: 500;
    padding: 2rem 0rem;
}
img {
    border-radius: 50%;
    width: 100%;
}
.columns {
    max-width: 290px;
    margin: 2rem;
}
/* ------------------------COL LEFT------------------------ */

.profile {
    text-align: center;
}
.profile-img {
    margin: auto;
    width: 60%;
}
.profile-info {
    position: relative;
}
.icon-map::before {
    position: absolute;
    content: url(assets/icon-map.svg);
    left: 100px;
}
.quote {
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 500;
    padding-top: 3rem;
}

/* ------------------------------COL RIGHT ---------------------- */

.img-studies-parent {
    display: flex;
}
.img-child {
    width: 50%;
    text-align: center;
}
.img-child p {
    font-size: 1.6rem;
    padding-top: 1rem;
}
.hobbies-parent {
    display: flex;
}

/* --------------------------CLOUD ANIMATION ------------------------- */

.animation div{
    position: absolute;
}
.animation div:nth-child(1) {
    bottom: 0%;
    right: 95%;
    animation: animate 10s linear infinite;
}
.animation div:nth-child(2) {
    bottom: 0%;
    right: 50%;
    animation: animate 6s linear infinite;
}
.animation div:nth-child(3) {
    bottom: 0%;
    right: 25%;
    animation: animate 12s linear infinite;
}
.animation div:nth-child(4) {
    bottom: 0%;
    right: 74%;
    animation: animate 8s linear infinite;
}
.animation div:nth-child(5) {
    bottom: 0%;
    right: 32%;
    animation: animate 10s linear infinite;
}
.animation div:nth-child(6) {
    bottom: 0%;
    right: 44%;
    animation: animate 7s linear infinite;
}
.animation div:nth-child(7) {
    bottom: 0%;
    right: 84%;
    animation: animate 9s linear infinite;
}
.animation div:nth-child(8) {
    bottom: 0%;
    right: 15%;
    animation: animate 7s linear infinite;
}
.animation div:nth-child(9) {
    bottom: 0%;
    right: 63%;
    animation: animate 5s linear infinite;
}
.animation div:nth-child(10) {
    bottom: 0%;
    right: 3%;
    animation: animate 10s linear infinite;
}
@keyframes animate {
    from {bottom: 0px;}
    to {bottom: 100%;}
}

/* -------------------------------RESPONSIVE---------------------------- */

@media (min-width: 720px) {
    .container {
        display: flex;
        flex-direction: row;
        height: 900px;
    }
    .columns {
        margin: 5rem 10rem 10rem 10rem;
    }
    .left {
        max-width: 400px;
    }
    .right {
        max-width: 600px;
        margin-left: 12rem;
        margin-top: 1rem;
    }
    h2 {
        font-size: 4.8rem;
        width: inherit;
    }
    h3 {
        font-size: 2.4rem;
        padding: 4rem 0rem;
    }
    .head {
        padding: 0 0 2rem 0;
    }
    .profile-img {
        width: 80%;
    }
    .profile-img img {
        margin-bottom: 2.5rem;
    }
    .icon-map::before {
        position: absolute;
        content: url(assets/icon-map.svg);
        left: 157px;
    }
    .quote {
        padding-top: 6rem;
    }
    .img-studies-parent {
        width: 720px;
    }
    .img-studies-parent p {
        font-size: 2.4rem;
    }
    .img-child {
        width: 35%;
        margin: auto;
    }
    .hobbies-parent {
        width: 720px;
        height: 270px;
    }
    .hobbies {
        width: 33%;
    }
}